@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.no-select {
   -ms-user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
    user-select:none;
}

.App {
  text-align: justify-all;
  background-color: #202020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  font-family: 'Source Code Pro', monospace !important;
}

nav {
  display: inline-block;
}

.nav-item {
  color: #ffbc00;
  padding-left: 1em;
  list-style-type: none;
}

/* No Special Styling :) */
.nav-item a:visited, .nav-item a:link {
  color: #ffbc00;
  text-decoration: none;
}

.nav-item__selected {
  color: green;
}

.nav-item a:hover {
  color: #ff7c00;
}

.nav-item a:active {
  color: green;
}