@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.no-select {
   -ms-user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
    user-select:none;
}

.App {
  text-align: justify-all;
  background-color: #202020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  font-family: 'Source Code Pro', monospace !important;
  /* Simplest Way To Keep Elements In Check*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  display: inline-block;
}

.nav-item {
  color: #ffbc00;
  padding-left: 1em;
  list-style-type: none;
}

/* No Special Styling :) */
.nav-item a:visited, .nav-item a:link {
  color: #ffbc00;
  text-decoration: none;
}

.nav-item__selected {
  color: green;
}

.nav-item a:hover {
  color: #ff7c00;
}

.nav-item a:active {
  color: green;
}

.faux-paper {
  position: relative;
  border: 1px;
  border-style: solid;
  border-color: #ffbc00; 
  height: 90vh;
  width: 75vw;
  margin: 1em 1em 1em 1em;
  padding: 2em 2em 2em 2em;
}

.fp-header {
  color: #ffbc00;
  font-weight: 900;
  padding-bottom: 5em;
}

.fp-body {
  color: #c5c8c6;
  font-weight: 400;
}

.gutter {
  position: absolute;
  bottom: 0;
}

.faux-terminal {
  overflow: hidden; 
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.media-card {
  width: 90%;
  height: 20%;
  border: 1px;
  border-style: outset;
  border-color: #c5c8c6; 
  padding: 1em;
  margin: 0 0 1em 0;
}

.card-title {
  color: #ffbc00;
  font-weight: 400;
}

.card-body {
  color: #fff;
  font-weight: 200;
  font-size: calc(5px + 1vmin);
}

.card-link {
  color: #ffbc00;
  text-decoration: none;
  font-weight: 400;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 480px) {
  .media {
    max-height: 65vh;
  }
}

.status-green {
  color: #198844;
}